*, 
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #9B9ECE;
    --btn-width:2rem;
}
body{
    font-size:10px;
    background: var(--background-color);
}

header{
    height: 30rem;
    width: 100%;
    background: url("bilder/LargeM.jpg");
   /*  background-size: cover;
    background-position: top; */
    text-transform: uppercase;
    margin-bottom: 2px;
    position: relative;
}

#btn {
    background: #473BF0;
    border-radius: 10rem;
    padding: .2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease;
    
}
#btn:hover {
    width: 500px;
}
.heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}


#btn:hover {
    animation: skala 2s ease infinite;
}

a::after{
    content: "";
    background: #473BF0;
    height: 2px;
}
@keyframes skala {
    0%{
       transform: scale(2)
    }
    40%{
       transform: rotate(200deg)
    }
    60%{
        opacity: .2;
    }
    100%{
       transform: scale(1.2)
    }
}


















@media screen and (max-width:769px) {
   
 
    body {
        background: black;
        color: aliceblue;
    }
    header{

    }

}

@media screen and (max-width:580px){

    header{
        background: url("bilder/smallM.jpg")

    }
   
}